body{
  font-family: "Karla", sans-serif;
}


.header{
background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%); 
display: flex;
white-space: pre-wrap;
color: white;
height: 65px;
align-items: center;
width: 100%;

}

.header--left{
  display: flex;
}

.header--left > p{
  font-size: 18px;
}
.header--right{
  margin-right:25px;
  margin-left: auto;
}
.header--logo{
  margin-left: 25px;
  width: 35px;
  height: 35px;
  align-self: center;
  padding-right: 10px;
}

.meme{
  padding: 36px;
}

.meme--form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  justify-items: stretch
}

.form--input{
  text-indent: 8px;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
}
.meme--button{
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%); 
  border: 0;
  color: white;
  border-radius: 5px;
}

.meme--package{
  display: grid;
  gap: 17px;
  justify-items: stretch;
  margin-top: 40px;;

}

.meme--img{
  grid-column: 1 / -1;
  border-radius: 5px;
  margin-top: -30px;
  width: 100%;
}

.top{
  margin-bottom: -50px;
  text-align: center;
  z-index: 1;
}

.bottom{
  margin-top: -90px;
  text-align: center;
  z-index: 1;
  color: #D5D4D8;
}

.img--text{
    color: white;
    font-size: 2em;
    font-family: Impact, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow:
          2px 2px 0 #000,
          -2px -2px 0 #000,
          2px -2px 0 #000,
          -2px 2px 0 #000,
          0 2px 0 #000,
          2px 0 0 #000,
          0 -2px 0 #000,
          -2px 0 0 #000,
          2px 2px 5px #000;
  

}